@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 3px;
    margin-right: 3px;
}

.Cont {
    background-color: bisque;
    width: 30%;
    height: 90%;
    justify-content: center;
}

.ImagenGato {
    width: 300px;
    height: 300px;
    margin-left: 15%;
}